<div class="text_layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes incluidos en Angular - Módulo incluido en el common module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4"> 
        <p-card header="UPPERCASE"
                [subheader] = "nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4"> 
        <p-card header="LOWERCASE"
                [subheader] = "nombreUpper">
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4"> 
        <p-card header="TITLE CASE"
                [subheader] = "nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text_layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar fechas
    </p>
</div>
    
<div class="p-grid">
    <div class="p-col-6"> 
        <p-card >
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'dd  MMMM  yyyy'</li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-5'</li>
                <li>fecha | date:'long':'GMT-4'</li>
                <li>fecha | date:'long':'':'en'</li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6"> 
        <p-card >
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'dd  MMMM  yyyy'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-5'}}</li>
                <li>{{fecha | date:'long':'GMT-4'}}</li>
                <li>{{fecha | date:'long':'':'fr'}}</li>
            </ul>
        </p-card>
    </div>
</div>